@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 80px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 160;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: "Roboto";
  color: white;
  font-weight: 330;
  font-size: 24px;
  text-align: center;
}

h4 {
  color: white;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.main-laboratorio .pacientes .servicio-container .servicio .contenido-container a, .main-index .banner-1 .banner-container .text-container a {
  color: white;
  border: solid 1px;
  border-color: rgb(230, 0, 79);
  border-radius: 5px;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  padding: 10px;
  background-color: #e6004f;
  justify-self: end;
  align-self: center;
}

header nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
header nav a img {
  width: 150px;
  padding: 5px;
}
header nav .buscador-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
header nav .buscador-navbar input {
  width: 200px;
  height: 15px;
  border: solid #929292 1px;
  border-radius: 4px;
}
header nav ul {
  list-style: none;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
header nav ul li a {
  color: #1A1A1A;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
}
header nav ul li a:hover {
  color: rgb(230, 0, 79);
  font-weight: 600;
}

.main-index .section1-index {
  background-color: #1A1A1A;
}
.main-index .section1-index .pantalla-bienvenida {
  position: relative;
  height: 100vh; /* Ocupa el 100% del viewport */
  background-image: url(./../img/bg-main-index2.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 2fr 0.5fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.main-index .section1-index .pantalla-bienvenida a {
  grid-column: 2/3;
  grid-row: 2/3;
  color: white;
  width: 150px;
  border: solid 1px;
  border-color: rgb(230, 0, 79);
  border-radius: 5px;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  padding: 10px;
  background-color: rgb(230, 0, 79);
  text-align: center;
  justify-self: center;
}
.main-index .section1-index .pantalla-bienvenida div {
  grid-column: 2/3;
}
.main-index .banner-1 {
  background-color: #1A1A1A;
  padding: 50px 0;
  padding-top: 22vh;
  padding-bottom: 22vh;
}
.main-index .banner-1 .banner-container {
  max-width: 800px;
  margin: 0 auto;
}
.main-index .banner-1 .banner-container .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-index .banner-1 .banner-container .text-container h3 {
  font-size: 2.5rem;
  color: white;
}
.main-index .banner-1 .banner-container .text-container p {
  font-size: 1.2rem;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.main-index .banner-1 .banner-container .text-container a:hover {
  background-color: white;
  color: rgb(230, 0, 79);
  transition: 0.4s;
}
.main-index .banner-2 {
  background-color: #1A1A1A;
  padding: 50px 0;
  padding-top: 22vh;
  padding-bottom: 22vh;
}
.main-index .banner-2 .banner2-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.main-index .banner-2 .banner2-container .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-index .banner-2 .banner2-container .text-container a {
  color: rgb(230, 0, 79);
  text-decoration: none;
  font-size: 2.5rem;
}
.main-index .banner-2 .banner2-container .text-container a:hover {
  color: white;
  text-decoration: underline;
  transition: 0.4s;
}
.main-index .banner-2 .banner2-container .text-container h3 {
  font-size: 2.5rem;
}
.main-index .banner-2 .banner2-container .text-container p {
  color: white;
  font-family: "Open Sans", sans-serif;
}
.main-index .banner-2 .banner2-container .text-container p span {
  font-weight: 700;
}
.main-index .banner-2 .banner2-container .carousel .carousel-container {
  width: 550px;
}
.main-index .banner-3 {
  background-color: #1A1A1A;
  padding-top: 11vh;
  padding-bottom: 22vh;
}
.main-index .banner-3 .banner-container {
  max-width: 800px;
  margin: 0 auto;
}
.main-index .banner-3 .banner-container .text-container h3 {
  font-style: italic;
}

.main-productos .section-productos {
  background-image: linear-gradient(90deg, rgba(230, 0, 81, 0.1215686275) 0, rgba(255, 255, 255, 0) 90%), url(./../img/tablet-doctor.jpeg);
  padding-left: 5%;
  padding-right: 5%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.main-productos .section-productos .productos-container {
  width: 65%;
}
.main-productos .section-productos .productos-container .productos {
  padding-top: 55px;
  padding-bottom: 55px;
}
.main-productos .section-productos .productos-container .productos .h2-productos {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 330;
  font-size: 40px;
}
.main-productos .section-productos .productos-container .productos .h3-productos {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 160;
  font-size: 24px;
}
.main-productos .card-grande-container {
  display: flex;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
}
.main-productos .card-grande-container .card-grande {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  border: solid 0.5px #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.199);
}
.main-productos .card-grande-container .card-grande .texto-card-grande {
  width: 55%;
  font-family: "Roboto";
  font-weight: 300;
  padding: 80px;
  color: #e6004f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.main-productos .card-grande-container .card-grande .texto-card-grande .h3-card {
  color: #e6004f;
  font-weight: 400;
}
.main-productos .card-grande-container .card-grande .texto-card-grande a {
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  padding: 10px;
  background-color: #e6004f;
}
.main-productos .card-grande-container .card-grande .imagen-card-grande {
  width: auto;
  overflow: hidden;
}
.main-productos .card-grande-container .card-grande .imagen-card-grande img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 8px 8px 0px;
}
.main-productos .banner-productos {
  padding-top: 11vh;
  padding-bottom: 11vh;
}
.main-productos .banner-productos .banner-container {
  padding-right: 200px;
  padding-left: 200px;
}
.main-productos .banner-productos .banner-container .text-container {
  background-color: rgb(230, 0, 79);
  min-height: 100px;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.199);
}
.main-productos .banner-productos .banner-container .text-container h3 {
  padding: 50px;
  font-weight: 350;
}
.main-productos .cards-pequeñas .container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.main-productos .cards-pequeñas .container-cards .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.199);
  overflow: hidden;
  margin: 10px;
  text-align: center;
  font-family: "Roboto";
}
.main-productos .cards-pequeñas .container-cards .card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.199);
  transform: scale(1.1);
  transition: 0.25s;
}
.main-productos .cards-pequeñas .container-cards .card img {
  width: 330px;
}
.main-productos .cards-pequeñas .container-cards .card .h4-card {
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
}
.main-productos .cards-pequeñas .container-cards .card p {
  padding: 18px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.main-productos .cards-pequeñas .container-cards .card a {
  text-decoration: none;
  font-size: 14px;
}

.main-equipo .integrante-container {
  background-color: #1A1A1A;
  background-size: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-equipo .integrante-container .integrante-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-equipo .integrante-container .integrante-card img {
  width: 200px;
  border-radius: 50%;
}
.main-equipo .integrante-container .integrante-card .integrante-titulo p {
  margin: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #f4f4f4;
  text-align: center;
}
.main-equipo .integrante-container .integrante-descripcion {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-equipo .integrante-container .integrante-descripcion p {
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #f4f4f4;
  text-align: justify;
  display: inline;
}
.main-equipo .integrante-container .integrante-descripcion .negrita {
  font-weight: 700;
}
.main-equipo .marilina {
  background-color: #72062c;
}
.main-equipo .berra {
  background-color: #3e0419;
}

.main-contacto .contacto-banner {
  background-color: #e6004f;
  padding-left: 5%;
  padding-right: 5%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-bottom: 15px;
}
.main-contacto .contacto-banner .texto-generico {
  font-family: "Roboto";
  color: white;
  font-weight: 330;
  font-size: 20px;
  text-align: center;
}
.main-contacto .forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-contacto .forms-container form {
  width: 400px;
  margin: 15px;
  border: solid 1px #f4f4f4;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.main-contacto .forms-container form .contacto-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-contacto .forms-container form .contacto-container input {
  width: 300px;
  height: 25px;
  color: #1A1A1A;
  border: #929292 solid 0.25px;
  border-radius: 2px;
  font-size: 12px;
  margin-top: 5px;
}

.main-laboratorio .banner-labo div {
  background-color: #1A1A1A;
  padding: 50px 0;
  padding-top: 22vh;
  padding-bottom: 22vh;
}
.main-laboratorio .banner-labo div h2 {
  color: white;
}
.main-laboratorio .pacientes {
  background-color: #1A1A1A;
}
.main-laboratorio .pacientes .servicio-container {
  padding: 50px 0;
  padding-top: 11vh;
  padding-bottom: 11vh;
}
.main-laboratorio .pacientes .servicio-container .servicio {
  max-width: 1000px;
  padding-left: 11vw;
  padding-right: 11vw;
  margin: 0 auto;
  display: flex;
}
.main-laboratorio .pacientes .servicio-container .servicio .contenido-container {
  background-image: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0.281) 60%), url(./../img/abrazo-paterno.png);
  background-size: cover;
  height: 44vh;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main-laboratorio .pacientes .servicio-container .servicio .contenido-container h3 {
  font-weight: 400;
}
.main-laboratorio .pacientes .servicio-container .servicio .contenido-container p {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-weight: 600;
}
.main-laboratorio .pacientes .servicio-container .servicio .contenido-container a:hover {
  background-color: white;
  color: rgb(230, 0, 79);
  transition: 0.4s;
}
.main-laboratorio .pacientes .servicio-container .servicio .cancer {
  background-image: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0.479) 50%), url(./../img/secuencia-bases.png);
}
.main-laboratorio .pacientes .servicio-container .servicio .nutricion {
  background-image: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0.281) 60%), url(./../img/comida-sana.jpg);
}
.main-laboratorio .banner2-labo {
  padding-top: 11vh;
  padding-bottom: 11vh;
}
.main-laboratorio .banner2-labo div {
  padding-right: 200px;
  padding-left: 200px;
}
.main-laboratorio .banner2-labo div div {
  background-color: rgb(230, 0, 79);
  min-height: 100px;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.199);
}
.main-laboratorio .banner2-labo div div h2 {
  padding: 50px;
  font-weight: 350;
}
.main-laboratorio .prestaciones {
  padding-bottom: 11vh;
}
.main-laboratorio .prestaciones .list-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-laboratorio .prestaciones .list-container ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 25px;
}
.main-laboratorio .prestaciones .list-container ul li:hover {
  background-color: rgb(230, 0, 79);
  color: white;
}

footer {
  background: #1A1A1A;
  border-top: solid 0.5px #929292;
  padding: 25px;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .footer-container .redes {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
footer .footer-container .redes a {
  text-decoration: none;
  color: rgb(230, 0, 79);
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
footer .footer-container .redes a img {
  width: 35px;
  margin: 5px;
}
footer .footer-container .ubicacion .footer-texto {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 10px;
}
footer .copyright {
  color: rgb(230, 0, 79);
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 767px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }
  header nav ul li {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  header nav ul li a {
    padding: 7px 20px;
  }
  .main-index .section1-index .pantalla-bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-index .section1-index .pantalla-bienvenida h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    width: 80vw;
  }
  .main-index .section1-index .pantalla-bienvenida a {
    margin: 5px;
  }
  .main-index .section1-index .pantalla-bienvenida div {
    margin: 5px;
  }
  .main-index .banner-2 .banner2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-index .banner-2 .banner2-container .carousel .carousel-container {
    width: 80vw;
  }
  .main-productos .card-grande-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .main-productos .card-grande-container .card-grande {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-productos .card-grande-container .card-grande .texto-card-grande {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
  }
  .main-productos .banner-productos {
    padding-right: 50px;
    padding-left: 50px;
  }
  .main-productos .banner-productos .banner-container {
    padding-right: 50px;
    padding-left: 50px;
  }
  .main-laboratorio .pacientes .servicio-container .servicio {
    padding-left: 5.5vw;
    padding-right: 5.5vw;
  }
  .main-laboratorio .pacientes .servicio-container .servicio .contenido-container {
    padding: 40px;
  }
  .main-laboratorio .banner2-labo {
    padding-top: 5.5vh;
    padding-bottom: 5.5vh;
  }
  .main-laboratorio .banner2-labo div {
    padding-right: 60px;
    padding-left: 60px;
  }
  .main-laboratorio .banner2-labo div h2 {
    padding: 15px;
    font-size: 20px;
  }
  .main-equipo .integrante-container {
    flex-wrap: wrap;
    height: auto;
  }
  .main-contacto .contacto-banner {
    align-items: center;
  }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer-container .redes {
    margin: 1px;
  }
  footer .footer-container .ubicacion {
    margin: 15px;
  }
  footer .footer-container .copyright {
    margin: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
