.main-index{
    .section1-index{
        background-color: #1A1A1A;
        .pantalla-bienvenida{
            position: relative;
            height: 100vh; /* Ocupa el 100% del viewport */
            background-image: url(./../img/bg-main-index2.jpg);
            background-size: cover;
            background-position: center;
            display:grid;
            grid-template-rows: 2fr 0.5fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            justify-content:center;
            align-items:center;
            a{
                grid-column: 2/3;
                grid-row: 2/3;
                color: white;
                width: 150px;
                border: solid 1px ;
                border-color: rgb(230, 0, 79);
                border-radius: 5px;
                text-decoration: none;
                font-family:"Roboto";
                font-weight: 500;
                padding: 10px;
                background-color: rgb(230, 0, 79);
                text-align: center;
                justify-self: center;

            }
            div{
                grid-column: 2/3;
            }
        }
    }

    .banner-1{
        background-color: $color-secundario;
        padding: 50px 0;
        padding-top: 22vh ;
        padding-bottom: 22vh ;
        .banner-container{
            max-width: 800px;
            margin: 0 auto;
            .text-container{
                @include flex(column, center, center);
                h3{
                    font-size: 2.5rem;
                    color: white;
                }
                p{
                    font-size: 1.2rem;
                    color:white;
                    font-family: $fuente-secundaria;
                }
                a{
                   @extend %boton;
                   &:hover{
                        background-color: white;
                        color: $color-principal;
                        transition: 0.4s;
                   } 
                }
            }
        }

    }
    .banner-2{
        background-color: $color-secundario;
        padding: 50px 0;
        padding-top: 22vh ;
        padding-bottom: 22vh;
        .banner2-container{
            width: 80vw;
            margin: 0 auto;
            @include flex(row, center, space-evenly);
            .text-container{
                @include flex(column, center, center);
                text-align: center;
                a{
                    color: $color-principal;
                    text-decoration: none;
                    font-size: 2.5rem;
                    &:hover{
                        color: white;
                        text-decoration: underline;
                        transition: 0.4s;
                    }
                }
                h3{
                    font-size: 2.5rem;
                }
                p{
                    color: white;
                    font-family: $fuente-secundaria;
                    span{
                        font-weight: 700;
                    }
                }
            }
            .carousel{
                .carousel-container{
                    width: 550px;             
                }
            }
        }
    }
    .banner-3{
        background-color: $color-secundario;
        padding-top: 11vh;
        padding-bottom: 22vh;
        .banner-container{
            max-width: 800px;
            margin: 0 auto;
            .text-container{
                h3{
                    font-style: italic;
                }
            }
        }
    }
}