.main-laboratorio{
    .banner-labo{
        div{
            background-color: $color-secundario;
            padding: 50px 0;
            padding-top: 22vh ;
            padding-bottom: 22vh ;
            h2{
                color: white;
            }
        }
    }
    .pacientes{
        background-color: $color-secundario;
        .servicio-container{
            padding: 50px 0;
            padding-top: 11vh ;
            padding-bottom: 11vh ;
            .servicio{
                width: 50%;
                padding-left: 11vw;
                padding-right: 11vw;
                margin: 0 auto;
                display: flex;
                .contenido-container{
                    background-image: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0.281) 60%), url(./../img/abrazo-paterno.png);
                    background-size: cover;
                    height: 44vh;
                    padding: 80px;
                    @include flex(column, center, space-evenly);
                    h3{
                        font-weight: 400;
                    }
                    p{
                        font-family: $fuente-secundaria;
                        text-align: justify;
                        font-weight: 600;
                    }
                    a{
                        @extend %boton;
                        &:hover{
                            background-color: white;
                            color: $color-principal;
                            transition: 0.4s;
                       }
                    }
                }
                .cancer{
                    background-image: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0.479) 50%), url(./../img/secuencia-bases.png);
                }
                .nutricion{
                    background-image: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0.281) 60%), url(./../img/comida-sana.jpg);
                }
            }
        }
        
    }
    .banner2-labo{
        padding-top: 11vh;
        padding-bottom: 11vh;
        div{
            padding-right: 200px;
            padding-left: 200px;
            div{
                background-color: $color-principal;
                min-height: 100px;
                display: flex;
                justify-content: center;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.199);
                h2{
                    padding: 50px;
                    font-weight: 350;
                }
            }

        }
        
    }
    .prestaciones{
        padding-bottom: 11vh;
        .list-container{
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    list-style: none;
                    font-family: $fuente-principal;
                    font-weight: 300;
                    padding: 25px;
                    &:hover{
                        background-color: $color-principal;
                        color: white;
                    }
                }
            }
        }
    }
}
