@media screen and (max-width: 767px){
    header{
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0px;
                    li{
                    margin-top: 3px;
                    margin-bottom: 3px;
                    a{
                        padding: 7px 20px;
                    }
                }
            } 
        }     
    }
    .main-index{
        .section1-index{
            .pantalla-bienvenida{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    font-size: 50px;
                    text-align: center;
                    margin-bottom: 10px;
                    width: 80vw;
                }
                a{
                    margin: 5px; 
                }
                div{
                    margin: 5px;
                }
            }
        }
        .banner-2{
            .banner2-container{
            @include flex(column, center, center);
            .carousel{
                .carousel-container{
                    width: 80vw;
                }
            }
            }
        }
    }
    .main-productos{
        .card-grande-container{
            padding-left: 50px;
            padding-right: 50px;
            .card-grande{
                display: flex;
                flex-direction: column;
                align-items: center;
                .texto-card-grande{
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    text-align: center;
                }
            }
        }
        .banner-productos{
            padding-right: 50px;
            padding-left: 50px;
            .banner-container{
                padding-right: 50px;
                padding-left: 50px;
            }
        }
    }
    .main-laboratorio{
        .pacientes{
            .servicio-container{
                .servicio{
                    padding-left: 5.5vw;
                    padding-right: 5.5vw;
                    .contenido-container{
                        padding:40px;
                    }
                }
            }
        }
        .banner2-labo{
            padding-top: 5.5vh;
            padding-bottom: 5.5vh;
            div{
                padding-right: 60px;
                padding-left: 60px;
                h2{
                    padding: 15px;
                    font-size: 20px;
                }
            }
        }
    }
    .main-equipo{
        .integrante-container{
            flex-wrap: wrap;
            height: auto;
        }
    }
    .main-contacto{
        .contacto-banner{
            align-items: center;
        }
    }
    footer{
        .footer-container{
            @include flex( column, center,center);
            .redes{
                margin: 1px;
            }
            .ubicacion{
                margin: 15px;
            }
            .copyright{
                margin: 15px;
            }
        }
    }
}