@media screen and (max-width: 767px){
    header{
        nav{
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items:center;
            ul{
                display: flex;
                flex-direction: column;
                li{
                    margin-top: 3px;
                    margin-bottom: 3px;
                }
            } 
        }     
    }
    .main-index{
        .section1-index{
            .pantalla-bienvenida{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    margin-bottom: 10px;
                }
                a{
                    margin: 5px; 
                }
                div{
                    margin: 5px;
                }
            }
        }
    }
    .main-productos{
        .card-grande-container{
            .card-grande{
                display: flex;
                flex-direction: column;
                align-items: center;
                .texto-card-grande{
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    }
    .main-equipo{
        .integrante-container{
            flex-wrap: wrap;
            height: auto;
        }
    }
    footer{
        .footer-container{
            .redes{
                margin: 1px;
            }
            .ubicacion{
                margin: 15px;
            }
            .copyright{
                margin: 15px;
            }
        }
    }
}