footer{
    background: #1A1A1A;
    border-top:solid 0.5px #929292;
    padding: 25px;
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .redes{
            @include flex(column, start,start);
            a{
                text-decoration: none;
                color: white;
                padding: 10px;
                font-family: $fuente-secundaria;
                font-size: 13px;
                img{
                    width: 35px;
                    margin: 8px;
                }
            }
        }
    .ubicacion{
        .footer-texto{
            font-family:"Roboto", sans-serif;
            color: white;
            font-size: 10px;   
            }
        }    
    }
    .copyright{
        color: $color-principal;
        font-family: $fuente-secundaria;
    }
}