footer{
    background: #1A1A1A;
    border-top:solid 0.5px #929292;
    padding: 15px;
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: top;
        .redes{
            a{
                img{
                    width: 35px;
                }
            }
        }
    .ubicacion{
        .footer-texto{
            font-family:"Roboto", sans-serif;
            color: white;
            font-size: 10px;   
            }
        }    
    }
}